/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:rgba(46, 230, 129, 0.541);
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}
a.head{
    color: rgb(6, 4, 46);
}
a.list{
    color: darkblue;
}
ol.list li{
    color: black;
}